.centre-items{
    display: flex;
    align-items: center;
    justify-content: center;
}.space-evenly{
    justify-content: space-evenly;
}.space-between{
    justify-content:space-between;
}.btn{
    padding: 10px 20px 10px 20px; /*top right bottom left*/
    font-size: inherit;
    letter-spacing: 1px;
    border-radius: 3px;  
    border-width: 1px;
}
.input{
    font-size: large;
    padding: 10px;
    letter-spacing: 0.4vh;
    outline: none;
}
.input::placeholder{
    padding: 10px;
    letter-spacing: normal;
}
.input-no-corner{
    border-width: 1px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 20px;
}
.input-github{
    min-height: 28px;
    border: 0;
    outline: 0;
    box-shadow: none;
    display: table-cell;
    font-size: inherit;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 20px;
    padding: 5px 12px;
    vertical-align: middle;
    margin: 0;
    border-radius: 6px;
}

.github-dark{
    background-color: #0d1117;
    caret-color: white;
    color: white;
}
.github-light{
    background-color: #0d1117;
    caret-color: white;
    color: white;
}
.github-light:focus{
    background-color: white;
    caret-color: black;
    color: black;
}
.input-github:focus{
    box-shadow:0 0 0 .1rem #1f6feb
}